html,
body {
  margin: 0;
  padding: 8px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: $bgGray;
  * {
    box-sizing: inherit;
  }
}

#root {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
}

ul,
ol {
  padding-inline-start: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: darken($textGrey, 50);
  letter-spacing: 0.08rem;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  &:active,
  &:focus {
    outline: 0;
    border: none;
  }
}
