// Fonts
$fontFamily: 'Open Sans';

// Font Sizing
$baseFontSize: 13px;
$baseLineHeight: 1.5;
$headingLineHeight: 1.2;
$h1Size: 1.9rem;

// Colors
$textGrey: rgb(199, 195, 195);
$bgGray: #f5f5f5;
$white: #ffffff;
$primaryBlue: slateblue;
$primaryGreen: #24e970;

// Breakpoints
$smallBreakpoint: 600px;
$largeBreakpoint: 1080px;
