.login-page-card {
  padding: 36px;
  background-color: $primaryBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 120px;
    height: 120px;
  }
}

.confirm-box-card {
  padding: 8px;
  background: $white;
  border: 1px solid $primaryBlue;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 166px;
  animation: showInFade 0.8s;
}

.update-stock-box-card {
  padding: 8px;
  background: $white;
  border: 1px solid $primaryBlue;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 166px;
  animation: showInFade 0.8s;
}
