// Container styles
.container {
  display: block;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1080px;
}

.pages {
  width: 100%;

  @media (min-width: 768px) {
    height: calc(100% - 72px);
  }
}
